.player-tokens-container {
  position: relative;
}

.player-token {
  position: absolute;
  width: 30px; /* Ancho de la imagen de la ficha */
  height: 30px; /* Alto de la imagen de la ficha */
  text-align: center;
}

.player-token img {
  width: 100%; /* Ajusta el tamaño de la imagen según el contenedor */
  height: 100%; /* Ajusta el tamaño de la imagen según el contenedor */
  border-radius: 50%; /* Para hacer círculos */
}
