<div class="player">
    <input type="text" #playerNameInput placeholder="Enter player name">
    <button (click)="addPlayer(playerNameInput)">Add Player</button>
  </div>
  
  <app-dice></app-dice>
  
  <div *ngFor="let player of players" class="player-info">
    <h3>{{ player.name }}</h3>
    <p>Money: ${{ player.money }}</p>
    <p>Properties:</p>
    <ul>
      <li *ngFor="let property of player.properties">{{ property }}</li>
    </ul>
  
    <div class="player-token" [style.background-color]="player.color" [style.left.px]="player.coordinates.x" [style.top.px]="player.coordinates.y">
      {{ player.name.charAt(0) }}
    </div>
  </div>
  
  <button (click)="startGame()">Start Game</button>
  