<!-- Botón para añadir jugador -->
<input #playerNameInput type="text" placeholder="Nombre del jugador">
<button *ngIf="!gameStarted" (click)="addPlayer(playerNameInput)">Add Player</button>

<!-- Mostrar las fichas de los jugadores -->
<div *ngFor="let player of players">
  <div [style.left.px]="calculateLeftPosition(player)" [style.top.px]="calculateTopPosition(player)"
       class="player-token" [style.background]="player.color">
    {{ player.name.charAt(0) }} <!-- Mostrar la primera letra del nombre del jugador -->
  </div>
</div>

<!-- Botón para iniciar el juego -->
<button *ngIf="!gameStarted && players.length > 0" (click)="startGame()">Start Game</button>
