.dice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .dice {
    margin: 10px;
    cursor: pointer;
  
    img {
      width: 100px; // Ajusta el tamaño según tus imágenes
      height: auto;
    }
  }
  
  